/* start header */

.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--bg);
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  overflow: hidden;
}

.header__progress {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: height 0.3s linear;
  transition: height 0.3s linear;
  background: transparent;
}

.header__progress_bar {
  width: 0%;
  background: var(--color);
  -ms-flex: 0;
  -webkit-box-flex: 0;
  flex: 0;
  -ms-flex-preferred-size: 0%;
  flex-basis: 0%;
  -webkit-transition: flex-basis 0.3s linear, -webkit-flex-basis 0.3s linear, -ms-flex-preferred-size 0.3s linear;
  transition: flex-basis 0.3s linear, -webkit-flex-basis 0.3s linear, -ms-flex-preferred-size 0.3s linear;
  z-index: 2;
}

.header__container {
  height: 100%;
}

.header__block {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 24px;
  position: relative;
  z-index: 20;
}

.header__image {
  width: 576px;
}

.header__logo {
  display: flex;
  width: max-content;
  gap: 20px;
}

.header__logo svg {
  width: 166px;
  height: 32px;
  object-fit: contain;
}

.header__logo span {
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
}

.header__logo:hover span {
  color: var(--hover);
}

.header__navigation {
  display: flex;
  height: 100%;
  align-items: center;
}

.header__nav_list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 100px;
}

.header__nav_link {
  text-transform: uppercase;
}

.header__popup.active {
  z-index: 1;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.header__popup_container {
  padding: 0 90px;
}

.header__burger {
  display: none;
  width: 24px;
  height: 24px;
  padding: 2px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header__burger_flex {
  display: flex;
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.header__burger_flex span:nth-child(1),
.header__burger_flex span:nth-child(2),
.header__burger_flex span:nth-child(3) {
  width: 100%;
  height: 1.5px;
  position: absolute;
  left: 0;
  background-color: var(--text);
  -webkit-transform: translateX(0) translateY(0) rotate(0);
  transform: translateX(0) translateY(0) rotate(0);
}

.header__burger_flex span:nth-child(1) {
  top: 2px;
  -webkit-transition: -webkit-transform 0.4s, background-color 0.2s linear;
  transition: transform 0.4s, background-color 0.2s linear;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.header__burger_flex span:nth-child(2) {
  top: 8.75px;
  opacity: 1;
  -webkit-transition: -webkit-transform 0s, opacity 0s, background-color 0.2s linear;
  transition: transform 0s, opacity 0s, background-color 0.2s linear;
  -webkit-transition-delay: 0.3s, 0.3s, 0s;
  transition-delay: 0.3s, 0.3s, 0s;
}

.header__burger_flex span:nth-child(3) {
  bottom: 2px;
  -webkit-transition: -webkit-transform 0.4s, background-color 0.2s linear;
  transition: transform 0.4s, background-color 0.2s linear;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}

.header__burger.active .header__burger_flex {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition-delay: 0.2s;
}

.header__burger.active .header__burger_flex span:nth-child(1),
.header__transparent .header__burger.active .header__burger_flex span:nth-child(1) {
  -webkit-transform: translateX(0px) translateY(7.25px) rotate(45deg);
  transform: translateX(0px) translateY(7.25px) rotate(45deg);
  -webkit-transition: -webkit-transform 0.4s, background-color 0.2s linear;
  transition: transform 0.4s, background-color 0.2s linear;
}

.header__burger.active .header__burger_flex span:nth-child(2),
.header__transparent .header__burger.active .header__burger_flex span:nth-child(2) {
  opacity: 0;
  -webkit-transition: -webkit-transform 0s, opacity 0s, background-color 0.2s linear;
  transition: transform 0s opacity 0s, background-color 0.2s linear;
  -webkit-transition-delay: 0.05s, 0.05s;
  transition-delay: 0.05s, 0.05s;
}

.header__burger.active .header__burger_flex span:nth-child(3),
.header__transparent .header__burger.active .header__burger_flex span:nth-child(3) {
  -webkit-transform: translateX(0px) translateY(-7.25px) rotate(-45deg);
  transform: translateX(0px) translateY(-7.25px) rotate(-45deg);
  -webkit-transition: -webkit-transform 0.4s, background-color 0.2s linear;
  transition: transform 0.4s, background-color 0.2s linear;
}

.header__links {
  display: flex;
  margin: 0 0 0 auto;
  align-items: center;
  gap: 50px;
}

.header__links_left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__link {
  display: flex;
  width: 32px;
  height: 32px;
}

.header__link svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__links_button svg {
  width: 15px;
  height: 19px;
  object-fit: contain;
}

/* end header */

/* start footer */

.footer {
  margin: auto 0 -2px;
  background-color: var(--text);
}

.footer__block {
  display: flex;
  padding: 40px 0;
  gap: 90px;
}

.footer__info_desc,
.footer__info_link,
.footer__link,
.footer__contact_head,
.footer__contact_link,
.footer__social,
.footer__contact_desc,
.footer__logo {
  color: var(--bg);
}

.footer__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 230px 24px;
}

.footer__totop {
  height: max-content;
  position: sticky;
  top: 100px;
  z-index: 1;
}

.has-scroll-smooth .footer__totop {
  position: relative;
  top: 0px;
}

.footer__info {
  display: flex;
  width: 576px;
  flex-direction: column;
  gap: 3px;
}

.footer__info_desc,
.footer__contact_head {
  opacity: 0.6;
}

.footer__info_link {
  opacity: 0.6;
  -webkit-transition: opacity .15s linear, color .15s linear;
  transition: opacity .15s linear, color .15s linear;
}

.footer__info_link:hover {
  opacity: 1;
  color: var(--hover);
}

.footer__list {
  display: flex;
  max-width: 460px;
  height: max-content;
  margin: 0 auto 0 0;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px 24px;
}

.footer__item {
  width: calc(50% - 12px);
  max-width: 170px;
  height: max-content;
}

.footer__contacts_socials {
  display: flex;
  gap: 24px;
}

.footer__contacts {
  display: flex;
  max-width: 275px;
  flex-direction: column;
  gap: 20px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__socials {
  display: flex;
  max-width: 85px;
  margin: 0 60px 0 0;
  flex-direction: column;
  gap: 15px;
}

.footer__link,
.footer__social {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.footer__image {
  width: calc(50% - 12px);
}

.footer__buttons {
  display: flex;
  width: calc(50% - 12px);
  align-items: flex-end;
  justify-content: flex-end;
  gap: 140px;
}

.footer__button_faq .btn__text,
.footer__button_appstore .btn__text {
  height: 52px;
}

.footer__button_faq .btn__text {
  padding: 16px 27px;
}

.footer__button_appstore .btn__text {
  padding: 12px 14px;
}

.footer__button_appstore svg:first-child {
  width: 24px;
  height: 30px;
  object-fit: contain;
}

.footer__button_appstore svg:last-child {
  width: 89px;
  height: 30px;
  object-fit: contain;
}

.footer__button_top {
  display: none;
}

.footer__logo {
  display: flex;
  width: 399px;
  height: 78px;
}

.footer__logo svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* end footer */

/* start about */

.about__block {
  display: flex;
  padding: 100px 0;
  flex-direction: column;
  gap: 100px;
}

.about__flex {
  display: flex;
  gap: 24px;
}

.about__left {
  width: 576px;
}

.about__right {
  display: flex;
  width: calc(100% - 600px);
  max-width: 570px;
  flex-direction: column;
  gap: 35px;
}

.about__head {
  text-transform: uppercase;
}

.about__text img {
  display: flex;
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* end about */

/* start scanner */

.scanner {
  background-color: var(--color);
}

.scanner__block {
  display: flex;
  padding: 180px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 70px;
}

.scanner__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.scanner__desc {
  text-transform: uppercase;
  color: var(--bg);
}

.scanner__head {
  color: var(--bg);
}

.scanner__btn {
  height: 52px;
  padding: 16px 40.5px;
}

/* end scanner */

/* start about_slider */

.about_slider__container {
  padding-right: 0;
}

.about_slider__block {
  padding: 60px 0 160px;
}

.about_slider__flex {
  display: flex;
  gap: 24px;
}

.about_slider__left {
  display: flex;
  width: 576px;
  flex-direction: column;
  gap: 60px;
}

.about_slider__info {
  display: flex;
  max-width: 360px;
  flex-direction: column;
  gap: 20px;
}

.about_slider__link_desktop .btn__text {
  padding: 16px 82.5px;
}

.about_slider__link_mobile {
  display: none;
}

.about_slider__right {
  display: flex;
  width: calc(100% - 600px);
  flex-direction: column;
  gap: 35px;
}

.about_slider__swiper {
  padding-right: 80px;
}

.about_slider__slide {
  display: flex;
  width: 570px;
  flex-direction: column;
  gap: 10px;
}

.about_slider__card {
  width: 100%;
  height: 570px;
  border-radius: 6px;
  position: relative;
}

.about_slider__action {
  position: absolute;
  top: 12px;
  left: 16px;
  z-index: 3;
}

.about_slider__action_new {
  padding: 0 8px;
  color: var(--white);
  background-color: var(--color);
  border-radius: 4px;
}

.about_slider__action_sale {
  padding: 0 8px;
  color: var(--white);
  background-color:  #FB6A6A;
  border-radius: 4px;
}

.about_slider__series {
  position: absolute;
  top: 10px;
  right: 13px;
  z-index: 2;
}

.about_slider__text {
  text-transform: uppercase;
  filter: drop-shadow(1px 1px 1px var(--bg));
}

.about_slider__btn {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 4;
}

.about_slider__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--text-gray);
}

.about_slider__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_slider__information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.about_slider__name {
  text-transform: uppercase;
}

.about_slider__price {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.about_slider__price_old {
  opacity: 0.5;
  text-decoration: line-through;
}

/* end about_slider */

/* start error */

.error__block {
  display: flex;
  align-items: end;
  gap: 195px;
  min-height: calc(100vh - 50px);
  padding: 0 0 60px;
}

.error__number {
  font-size: 258px;
  font-weight: 400;
  line-height: 258px;
  letter-spacing: -0.08em;
}

.error__text {
  width: -webkit-fill-available;
  padding: 0 0 25px;
}

.error__link {
  display: flex;
  justify-content: end;
  width: 50%;
  padding: 0 0 25px;
  text-transform: uppercase;
}

/* end error */

/* start catalog */

.catalog__block {
  padding: 100px 0 140px ;
}

.catalog_top__subtitle {
  max-width: 360px;
  margin: 25px 0 60px;
}


.catalog_page__list_wrapper {
  margin: -5px -12px;
}

.btn__catalog .btn__text{
  padding: 10px 28px;
  gap: 5px;
}

.catalog_page__list {
  display: inline-block;
  width: 100%;
}

.catalog_page__item {
  display: flex;
  width: 33.3%;
  height: 628px;
  flex-direction: column;
  gap: 15px;
  float: left;
  padding: 30px 12px;
  border-radius: 8px;
}

.catalog_product {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.catalog_page__banner {
  padding: 37px 12px 23px;
}

.catalog_page__product {
  height: 659px;
}

.catalog_page__banner_name {
  display: none;
}

.catalog_page__item_text {
  padding: 28px 161px 25px 11px;
  gap: 20px;
}

.catalog_page__item_text .title_one{
  padding: 0 0 3px 5px;
  text-transform: uppercase;
}

.catalog_page__item_text ul li {
  position: relative;
  padding: 0 14px;
  margin: 0 0 5px;
}

.catalog_page__item_text ul li span:nth-child(1) {
  text-transform: uppercase;
}

.catalog_page__item_text ul li:nth-child(1)::before {
  content: "";
  width: 9px;
  height: 1.2px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--text);
}

.catalog_page__item_text ul li:nth-child(2)::after {
  content: "";
  width: 1.2px;
  height: 9px;
  position: absolute;
  top: 8px;
  left: 4px;
  background-color: var(--text);
}

.catalog_page__item_text ul li:nth-child(2)::before {
  content: "";
  width: 9px;
  height: 1.2px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--text);
}

.catalog_page__item_text ul li:nth-child(3)::after {
  content: "";
  width: 9px;
  height: 1.2px;
  position: absolute;
  top: 14px;
  left: 0;
  background-color: var(--text);
}

.catalog_page__item_text ul li:nth-child(3)::before {
  content: "";
  width: 9px;
  height: 1.2px;
  position: absolute;
  top: 10px;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--text);
}

.catalog_banner_max {
  height: 1318px;
  width: 66.6%;
  float: right;
  padding: 32px 12px 58px;
}

.catalog_banner_max__background {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 220px 260px 40px;
  flex-direction: column;
  align-items: center;
  gap: 130px;
  background-color: var(--text-gray);
  border-radius: 8px;
}

.catalog_banner_max__wrapper {
  display: flex;
  width: 650px;
  height: 790px;
  align-items:center;
  justify-content: center;
  position: relative;
}

.catalog_banner_max_button {
  padding: 16px 70px;
}

.catalog_banner_max_button .btn__text{
  border: none;
}

.catalog_banner_max__img {
  max-width: 500px;
  max-height: 640px;
}

.catalog_banner_max__img img{
  width: 100%;
  height: 100%;
}

.catalog_banner_max__wrapper p {
  position: absolute;
  text-transform: uppercase;
}

.catalog_banner_max__wrapper p:nth-child(2) {
  top: 0;
  left: 0;
}

.catalog_banner_max__wrapper p:nth-child(3) {
  top: 0;
  right: 0;
}

.catalog_banner_max__wrapper p:nth-child(4) {
  left: 0;
  bottom: 0;
}

.catalog_banner_max__wrapper p:nth-child(5) {
  right: 0;
  bottom: 0;
}

.catalog_banner_min {
  height: 650px;
  width: 66.6%;
  float: left;
  padding: 25px 12px 44px;
}

.catalog_banner_min__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 190px 270px 220px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 60px;
  background-color: var(--blue);
  border-radius: 8px;
  text-transform: uppercase;
}

.catalog_banner_min__wrapper h2,
.catalog_banner_min__wrapper a {
  color: var(--bg);
}

.catalog_banner_min__wrapper a:hover {
  color: var(--text);
}

.catalog_page__banner_girl {
  width: 100%;
  height: 100%;
  margin: -10px 0;
  border-radius: 8px;
}

.catalog_page__banner_girl img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* end catalog */

/* start banner_telephone */

.banner_telephone__title {
  margin: 0 0 25px 0 ;
}

.banner_telephone__background {
  height: 800px;
  background: var(--text-gray);
}

.banner_telephone__block {
  display: flex;
  padding: 160px 0 30px;
  flex-direction: column;  
  align-items: center; 
  gap: 58px;
}

.banner_telephone__block .btn__text {
  padding: 30px 14px;
}

.banner_telephone__block .btn {
  margin: 0 0 0 auto;
}

.banner_telephone svg:first-child {
  width: 30px;
  height: 34px;
}

.banner_telephone__img {
  max-width: 267px;
  max-height: 481px;
}

.banner_telephone__img img{
  width: 100%;
  height: 100%;
}

.banner_telephone__block svg:last-child {
  width: 110px;
  height: 65px;
}

/* end banner_telephone */

/* start breadcrumbs */

.breadcrumbs {
  margin: 1px 0;
  opacity: 1;
}

.breadcrumbs__list {
  display: flex;
  padding: 20px 0;
  flex-wrap: wrap;
  gap: 20px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item:not(:last-child):after {
  content: "·";
  display: inline-flex;
  width: 4px;
  height: 4px;
  align-items: center;
  justify-content: center;
  margin: 0 6px;
}

.breadcrumbs__link {
  text-transform: uppercase;
}

.breadcrumbs__item:last-child  .breadcrumbs__link {
  pointer-events: none;
}

.breadcrumbs__back {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  color: var(--text);
}

.breadcrumbs__back span {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

/* end breadcrumbs */

/* start product */

.product__block {
  padding: 100px 0;
}

.product__flex {
  display: flex;
  gap: 80px;
}

.product__slider {
  width: 800px;
  height: 800px;
  position: relative;
  border-radius: 6px;
  background-color: var(--text-gray);
  overflow: hidden;
}

.product__thumbs_swiper {
  width: 80px;
  height: calc(100% - 40px);
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  overflow: hidden;
}

.product__thumbs_image {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 6px;
  background-color: var(--text-gray);
  overflow: hidden;
}

.product__image {
  border-radius: 6px;
  background-color: var(--text-gray);
  overflow: hidden;
}

.product__thumbs_image img,
.product__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__swiper {
  width: 800px;
  height: 800px;
}

.product__info {
  width: calc(100% - 880px);
}

.product__denomination {
  display: flex;
  max-width: 570px;
  padding: 0 0 60px;
  flex-direction: column;
  gap: 10px;
}

.product__head {
  padding: 0 0 10px;
}

.product__desc {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.product__desc_icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product__desc_icon img {
  width: 24px;
  height: 24px;
}

.product__volume {
  display: flex;
  max-width: 570px;
  flex-direction: column;
  gap: 32px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.product__volume_select,
.product__counts,
.product__forname {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
}

.product__volume_name {
  width: 140px;
}

.product__select_box {
  width: calc(100% - 140px);
}

.product__select_box .form__select_selected_item,
.product__select_box .form__select_list {
  width: 100%;
}

.product__counts_name {
  width: 140px;
}

.product__count {
  width: calc(100% - 140px);
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.product__minus,
.product__plus {
  position: absolute;
  bottom: 2px;
  z-index: 3;
}

.product__minus {
  right: 58px;
}

.product__plus {
  right: 0;
}

.product__count_input {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: visible;
}

.product__count_input input {
  width: 100%;
  height: 38px;
  padding: 0 68px 2px 10px;
  border: none;
  outline: none;
}

.product__forname {
  gap: 10px;
}

.product__forname .form__control {
  width: calc(100% - 140px);
  padding: 0;
  overflow: visible;
}

.product__forname .form__counter {
  bottom: 7px;
}

.product__forname .form__bar,
.product__forname .form__border,
.product__forname .form__select_bar,
.product__forname .form__select_border,
.product__count_input .form__bar,
.product__count_input .form__border,
.product__count_input .form__select_bar,
.product__count_input .form__select_border {
  bottom: -1px;
}

/* end product */

/* start 1919px for 1440px */
@media (max-width: 1919px) {
  .header {
    height: 50px;
  }
  .header__image {
    width: 426px;
  }
  .header__logo svg {
    width: 145px;
    height: 28px;
  }
  .header__nav_list {
    gap: 0 60px;
  }
  .header__links_button svg {
    width: 12px;
    height: 14px;
  }
  .header__link {
    width: 24px;
    height: 24px;
  }
  .header__links {
    gap: 40px;
  }

  .about__left {
    width: 426px;
  }
  .about__right {
    width: calc(100% - 450px);
    max-width: 460px;
    gap: 20px;
  }
  
  .about_slider__block {
    padding: 0 0 100px;
  }
  .about_slider__swiper {
    padding-right: 60px;
  }
  .about_slider__left {
    width: 426px;
  }
  .about_slider__right {
    width: calc(100% - 450px);
  }
  .about_slider__slide {
    width: 424px;
  }
  .about_slider__card {
    height: 430px;
  }
  .about_slider__action_new,
  .about_slider__action_sale{
    padding: 0 6px;
    border-radius: 3px;
  }
  .about_slider__link_desktop .btn__text {
    padding: 15px 63px;
  }
  
  .scanner__block {
    padding: 120px 0;
    gap: 60px;
  }
  
  .footer__block {
    gap: 50px;
  }
  .footer__flex {
    gap: 110px 24px;
  }
  .footer__info {
    width: 426px;
  }
  .footer__list {
    max-width: 370px;
    gap: 12px 24px;
  }
  .footer__item {
    max-width: 146px;
  }
  .footer__contacts {
    max-width: 180px;
    margin: 0 24px 0 0;
  }
  .footer__socials {
    max-width: 75px;
    margin: 0 40px 0 0;
  }
  .footer__buttons {
    gap: 90px;
  }
  .footer__button_faq .btn__text,
  .footer__button_appstore .btn__text  {
    height: 40px;
  }
  .footer__button_faq .btn__text {
    padding: 11px 22px;
  }
  .footer__button_appstore .btn__text {
    padding: 9px 10px;
  }
  .footer__button_appstore svg:first-child {
    width: 18px;
    height: 22px;
  }
  .footer__button_appstore svg:last-child {
    width: 68px;
    height: 22px;
  }

  .error__block {
    gap: 138px;
    padding: 0 0 30px;
  }
  .error__number {
    font-size: 200px;
    line-height: 200px;
  }
  .error__text,
  .error__link {
    padding: 0 0 20px;
  }

  .catalog__block {
    padding: 100px 0 85px;
  }
  .btn__catalog .btn__text {
    padding: 12px 35px;
  }
  .catalog_page__item  {
    height: 458px;
  }
  .catalog_page__product {
    height: 489px;
  }
  .about_slider__action {
    top: 12px;
    left: 16px;
  }
  .about_slider__series {
    top: 14px;
    right: 14px;
  }
  .catalog_product,
  .about_slider__price {
    gap: 10px;
  }
  .catalog_page__item {
    padding: 13px 12px 16px;
  }
  .catalog_page__banner {
    padding: 18px 12px 10px;
  }
  .catalog_top__subtitle {
    margin: 25px 0 58px;
  }
  .catalog_page__list_wrapper {
    margin: 3px -12px;
  }
  .catalog_page__banner_girl {
    margin: -5px 0;
    border-radius: 8px;
  }
  .catalog_page__item_text {
    padding: 16px 68px 25px 12px;
    gap: 20px;
  }
  .catalog_page__item_text .title_one {
    padding: 0 0 3px 2px;
  }
  .catalog_page__item_text ul li {
    padding: 0 12px;
    margin: 0 4px 5px;
  }
  .catalog_page__item_text ul li:nth-child(2)::after {
    width: 1.3px;
    top: 6px;
  }
  .catalog_page__item_text ul li:nth-child(3)::before {
    top: 8px;
  }
  .catalog_page__item_text ul li:nth-child(3)::after {
    top: 11px;
  }
  .catalog_banner_max__background {
    padding: 205px 222px 35px;
    gap: 125px;
  }
  .catalog_banner_max {
    height: 978px;
    padding: 13px 12px 43px;
  }
  .catalog_banner_max__wrapper {
    width: 428px;
    height: 511px;
  }
  .catalog_banner_max__img {
    max-width: 333px;
    max-height: 418px;
  }
  .catalog_banner_max_button {
    padding: 15px 55px;
  }
  .catalog_banner_min {
    height: 460px;
    padding: 15px 12px;
  }
  .catalog_banner_min__wrapper {
    padding: 128px 235px 151px;
  }
  .catalog_banner_min__wrapper h2 {
    letter-spacing: 0;
  }
  .banner_telephone__block {
    padding: 55px 0 15px;
    gap: 0px;
  }
  .banner_telephone__block .btn {
    margin: -4px 0 0 auto;
  }
  .banner_telephone__background {
    height: 600px;
  }
  .banner_telephone svg:first-child {
    width: 24px;
    height: 30px;
  }
  .banner_telephone__block .btn__text {
    padding: 26px 10px;
    gap: 4px
  }
  .banner_telephone__block svg:last-child {
    width: 90px;
    height: 59px;
  }
}
/* end 1919px */

/* start 1439px for 1024px */
@media (max-width: 1439px) {
  .header__image {
    width: 285px;
  }
  .header__logo_desc {
    display: none;
  }
  .header__nav_list {
    gap: 0 32px;
  }
  .header__links {
    gap: 30px;
  }

  .about__block {
    padding: 100px 0 80px;
    gap: 80px;
  }
  .about__left {
    width: 285px;
  }
  .about__right {
    width: calc(100% - 299px);
    max-width: 430px;
  }
  .about__text img {
    max-width: 300px;
  }
  
  .about_slider__block {
    padding: 0 0 80px;
  }
  .about_slider__swiper {
    padding-right: 40px;
  }
  .about_slider__left {
    width: 285px;
  }
  .about_slider__right {
    width: calc(100% - 309px);
  }
  .about_slider__slide {
    width: 300px;
  }
  .about_slider__card {
    height: 302px;
  }
  .about_slider__action {
    top: 13px;
    left: 14px;
  }
  .about_slider__series {
    top: 13px;
    right: 14px;
  }
  .about_slider__information {
    flex-direction: column;
    gap: 5px;
  }
  
  .scanner__block {
    padding: 60px 0;
    gap: 50px;
  }
  
  .footer__block {
    padding: 24px 0;
    gap: 0;
  }
  .footer__flex {
    gap: 24px;
  }
  .footer__totop {
    display: none;
  }
  .footer__button_top {
    display: block;
    padding: 0 0 0 70px;
    position: sticky;
    top: 80px;
  }
  .footer__info {
    width: 285px;
  }
  .footer__list {
    max-width: 275px;
    justify-content: flex-start;
  }
  .footer__item {
    width: auto;
    min-width: 102px;
  }
  .footer__contacts_socials {
    flex-direction: column;
    gap: 48px;
  }
  .footer__contacts,
  .footer__socials {
    max-width: 100%;
    margin: 0;
  }
  .footer__contacts_socials {
    max-width: 180px;
  }
  .footer__buttons {
    padding: 0 30px 0 0;
    gap: 30px;
  }
  .footer__logo {
    width: 279px;
    height: 53.87px;
  }

  .error__block {
    gap: 83px;
  }
  .error__number {
    font-size: 155px;
    line-height: 155px;
  }
  .error__text {
    padding: 0 0 13px;
  }
  .error__link {
    padding: 0 0 15px;
  }

  .catalog__block {
    padding: 102px 0 62px;
  }
  .catalog_top__subtitle {
    margin: 23px 0 57px;
  }
  .btn__catalog .btn__text {
    padding: 12px 36px;
  }
  .catalog_page__item {
    height: 333px;
    padding: 15px 12px 16px;
  }
  .catalog_page__product {
    height: 385px;
  }
  .catalog_product {
    gap: 7px;
  }
  .catalog_page__banner {
    padding: 20px 12px 10px;
  }
  .catalog_page__item_text {
    padding: 16px 68px 25px 12px;
    gap: 20px;
  }
  .catalog_page__item_text {
    padding: 16px 18px 20px 11px;
  }
  .catalog_page__item_text .title_one {
    padding: 0 0 3px 0px;
  }
  .catalog_page__item_text ul li {
    padding: 0px 12px;
    margin: 0 3px 5px;
  }
  .catalog_banner_max {
    height: 770px;
    padding: 13px 12px 68px;
  }
  .catalog_banner_max__background {
    padding: 148px 132px 30px;
    gap: 59px;
  }
  .catalog_banner_max__wrapper {
    width: 358px;
    height: 398px;
  }
  .catalog_banner_max__img {
    max-width: 220px;
    max-height: 276px;
  }
  .catalog_banner_min {
    height: 330px;
    padding: 15px 12px 14px;
  }
  .catalog_banner_min__wrapper {
    padding: 73px 110px 80px;
  }
  .banner_telephone__title {
    margin: 0 0 30px 0;
  }
  .banner_telephone__background {
    height: 425px;
  }
  .banner_telephone__img {
    max-width: 173px;
    max-height: 313px;
  }
  .banner_telephone__block .btn {
    margin: -11px 0 0 auto;
  }
  .banner_telephone__block .btn__text {
    padding: 26px 11px;
    gap: 4px;
  }
}
/* end 1439px */

/* start min 1280px for hover */
@media (min-width: 1280px) {
}
/* end min 1280px */

/* start 1023px for 768px */
@media (max-width: 1023px) {
  .header {
    height: 35px;
  }
  .header__block {
    gap: 14px;
  }
  .header__image {
    width: 232px;
  }
  .header__logo svg {
    width: 118px;
    height: 22.79px;
  }
  .header__nav_list {
    gap: 0 24px;
  }
  .header__links_right {
    display: none;
  }

  .about__block {
    padding:80px 0;
    gap: 60px;
  }
  .about__flex {
    gap: 14px;
  }
  .about__left {
    width: 232px;
  }
  .about__right {
    width: calc(100% - 246px);
    max-width: 330px;
  }
  .about__text img {
    max-width: 230px;
  }
  
  .about_slider__block {
    padding: 0 0 80px;
  }
  .about_slider__swiper {
    padding-right: 24px;
  }
  .about_slider__flex {
    gap: 14px;
  }
  .about_slider__left {
    width: 232px;
  }
  .about_slider__right {
    width: calc(100% - 246px);
  }
  .about_slider__slide {
    width: 230px;
  }
  .about_slider__card {
    height: 257px;
  }
  .about_slider__action {
    top: 11px;
    left: 10px;
  }
  .about_slider__series {
    top: 12px;
    right: 11px;
  }
  .about_slider__action_new,
  .about_slider__action_sale {
    font-size: 12px;
    line-height: 15px;
  }
  .about_slider__info {
    gap: 10px;
  }
  .about_slider__link_desktop .btn__text {
    padding: 11px 55px;
  }
  .about_slider__information {
    gap: 2px;
  }
  
  .scanner__block {
    padding: 40px 0;
    gap: 40px;
  }
  
  .footer__flex {
    gap: 70px 14px;
  }
  .footer__info {
    width: 232px;
  }
  .footer__list {
    flex-direction: column;
    gap: 10px;
  }
  .footer__contacts {
    gap: 10px;
  }
  .footer__contacts_socials {
    gap: 35px;
  }
  .footer__button_top {
    padding: 0;
  }
  .footer__image {
    max-width: calc(50% - 7px);
  }
  .footer__logo {
    width: 229px;
    height: 44.21px;
  }
  .footer__buttons {
    max-width: calc(50% - 7px);
    padding: 0;
    gap: 5px;
  }
  .footer__contacts_socials {
    max-width: 172px;
  }

  .error__block {
    gap: 62px;
    padding: 0 0 74px;
  }
  .error__number {
    font-size: 118px;
    line-height: 118px;
  }
  .error__text,
  .error__link {
    padding: 0 0 10px;
  }

  .catalog_page__list_wrapper {
    margin: 3px -8px;
  }
  .catalog__block {
    padding: 60px 0 69px;
  }
  .catalog_top__subtitle {
    max-width: 300px;
    margin: 12px 0 38px;
  }
  .btn__catalog .btn__text {
    padding: 10px 41px;
    gap: 3px
  }
  .about_slider__text {
    font-size: 12px;
    line-height: 15px;
  }
  .catalog_page__item {
    height: 285px;
    padding: 18px 8px 16px;
  }    
  .catalog_page__product {
    height: 329px;
  }
  .catalog_product {
    gap: 5px;
  }
  .catalog_page__banner {
    padding: 24px 8px 8px;
  }
  .catalog_page__banner_title {
    font-size: 16px;
    line-height: 20px;
  }
  .catalog_page__item_text {
    padding: 16px 6px 20px 9px;
    gap: 15px;
  }
  .catalog_page__item_text .title_one {
    padding: 0 0 5px 0px;
    letter-spacing: -0.01em;
  }
  .catalog_page__item_text ul {
    margin: -3px 0 0;
  }
  .catalog_page__item_text ul li {
    padding: 0px 0 0 9px;
    margin: 0 3px 2px;
    font-size: 14px;
    line-height: 18px;
  }
  .catalog_page__item_text ul li  span{
    font-size: 12px;
    line-height: 15px;
  }
  .catalog_page__item_text ul li:nth-child(1)::before,
  .catalog_page__item_text ul li:nth-child(2)::before {
    width: 6px;
    height: 0.5px;
  }
  .catalog_page__item_text ul li:nth-child(2)::after {
    width: 0.5px;
    height: 6px;
    top: 6px;
    left: 3px;
  }
  .catalog_page__item_text ul li:nth-child(3)::before {
    width: 6px;
    height: 0.5px;
    top: 8px;
  }
  .catalog_page__item_text ul li:nth-child(3)::after {
    width: 6px;
    height: 0.5px;
    top: 11px;
  }
  .catalog_banner_max {
    height: 658px;
    padding: 13px 12px 60px;
  }
  .catalog_banner_max__background {
    padding: 150px 80px 18px;
    gap: 78px;
  }
  .catalog_banner_max__wrapper {
    width: 314px;
    height: 300px;
  }
  .catalog_banner_max__img {
    max-width: 169px;
    max-height: 212px;
  }
  .catalog_banner_max_button {
    padding: 1px 20px;
  }
  .catalog_banner_min {
    height: 290px;
    padding: 18px 8px 16px;
  }
  .catalog_banner_min__wrapper {
    padding: 82px 84px;
    gap: 28px
  }
  .catalog_banner_min__wrapper h2 {
    letter-spacing: -0.01em;
  }

  .banner_telephone__block {
    padding: 30px 0 15px;
    gap: 0px;
  }
  .banner_telephone__title {
    margin: 0 0 22px 0;
  }
  .banner_telephone__background {
    height: 320px;
  }
  .banner_telephone__img {
    max-width: 130px;
    max-height: 234px;
  }
  .banner_telephone__block {
    padding: 40px 0 5px;
  }
  .banner_telephone__block svg:last-child {
    width: 70px;
    height: 55px;
  }
  .banner_telephone svg:first-child {
    width: 20px;
    height: 25px;
  }
  .banner_telephone__block .btn__text {
    padding: 20px 7px;
  }
}
/* end 1023px */

/* start 767px for 360px */
@media (max-width: 767px) {
  .header__block {
    justify-content: space-between;
  }
  .header__logo svg {
    width: 118px;
    height: 22.79px;
  }
  .header__nav_list {
    gap: 0 24px;
  }
  .header__link_cart {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header__navigation {
    display: none;
  }
  .header__image {
    width: max-content;
  }
  .header__links {
    margin: 0;
  }

  .about__block {
    padding: 60px 0;
    gap: 50px;
  }
  .about__flex {
    flex-direction: column;
  }
  .about__left {
    width: 100%;
  }
  .about__right {
    width: 100%;
    max-width: 100%;
  }
  .about__text img {
    max-width: 100%;
  }

  .about_slider__block {
    padding: 20px 0 80px;
  }
  .about_slider__flex {
    flex-direction: column;
    gap: 40px;
  }
  .about_slider__left,
  .about_slider__right {
    width: 100%;
  }
  .about_slider__left {
    padding-right: 16px;
  }
  .about_slider__swiper {
    padding-right: 16px;
  }
  .about_slider__slide {
    width: 244px;
  }
  .about_slider__card {
    height: 256px;
  }
  .about_slider__link_desktop {
    display: none;
  }
  .about_slider__link_mobile {
    display: inline-flex;
    width: 100%;
    padding-right: 16px;
  }
  .about_slider__link_mobile .btn__text {
    width: 100%;
    padding: 12.5px;
  }
  .about_slider__action {
    top: 10px;
    left: 10px;
  }
  .about_slider__series {
    top: 10px;
    right: 10px;
  }
  .about_slider__information {
    flex-direction: row;
  }
  
  .scanner__block {
    padding: 130px 0;
    gap: 60px;
  }
  
  .footer__flex {
    gap: 36px 12px;
  }
  .footer__image {
    width: 100%;
    max-width: 100%;
    order: 1;
  }
  .footer__contacts_socials {
    width: 100%;
    max-width: 100%;
    gap: 36px;
    order: 2;
  }
  .footer__contacts {
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 12px;
  }
  .footer__contact {
    width: calc(50% - 6px);
    max-width: 100%;
    order: 3;
  }
  .footer__contact:nth-child(1) {
    order: 2;
  }
  .footer__contact:nth-child(2) {
    order: 1;
  }
  .footer__buttons {
    width: 100%;
    max-width: 100%;
    padding: 0;
    justify-content: space-between;
    gap: 10px;
    order: 3;
  }
  .footer__button_faq,
  .footer__button_appstore,
  .footer__button_faq .btn__text,
  .footer__button_appstore .btn__text {
    width: 100%;
  }
  .footer__list {
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    gap: 10px;
    order: 4;
  }
  .footer__item {
    width: 100%;
    max-width: calc(50% - 5px);
  }
  .footer__info {
    width: 100%;
    max-width: calc(100% - 68px);
    padding: 34px 0 0;
    order: 5;
  }
  .footer__button_top {
    display: flex;
    width: 52px;
    max-width: 100%;
    padding: 0;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    top: 0;
    order: 6;
  }
  .footer__logo {
    width: 100%;
    max-width: 328px;
    height: auto;
  }

  .error__block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px);
    gap: 12px;
    text-align: center;
  }
  .error__number {
    font-size: 128px;
    line-height: 128px;
    padding: 0 0 15px;
  }
  .error__link {
    justify-content: center;
  }

  .catalog__block {
    padding: 60px 0 72px;
  }
  .catalog_page__item {
    width: 50%;
  }
  .catalog_page__banner {
    width: 100%;
  }
  .catalog_page__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .catalog_page__item_order {
    order: -1
  }
  .catalog_top__subtitle {
    margin: 12px 0 35px;
  }
  .btn__catalog {
    width: 100%;
  }
  .btn__catalog .btn__text {
    width: 100%;
  }
  .catalog_page__item {
    height: 150px;
    padding: 8px 4px 9px;
  }
  .catalog_page__product {
    height: 250px;
  }
  .catalog_product {
    gap: 6px;
  }
  .catalog_product .about_slider__card {
    height: 190px;
  }
  .catalog_page__list_wrapper {
    margin: 4px -4px;
  }
  .catalog_product .about_slider__name {
    font-size: 12px;
    line-height: 15px;
  }
  .catalog_product .about_slider__information {
    gap: 4px;
  }
  .catalog_product .about_slider__action {
    top: 6px;
    left: 6px;
  }
  .catalog_product .about_slider__series {
    top: 7px;
    right: 7px;
  }
  .catalog_product .btn__cart {
    padding: 6px;
  }
  .catalog_page__banner_name {
    display: block;
    text-transform: uppercase;
  }
  .catalog_page__item_text p:nth-child(1){
    display: none;
  }
  .catalog_product .about_slider__image img {
    object-fit: contain;
  }
  .catalog_page__banner_title {
    padding: 31px 0 10px;
    font-size: 14px;
    line-height: 18px;
  }
  .catalog_page__banner_title {
    padding: 33px 0 0px;
    font-size: 14px;
    line-height: 18px;
  }
  .catalog_page__banner_girl {
    height: 160px;
    width: 160px;
    margin: -19px 0;
  }
  .catalog_page__item_text {
    padding: 16px 6px 20px 9px;
    gap: 15px;
  }
  .catalog_page__item_text {
    min-height: 206px;
    padding: 39px 11px 20px 4px;
    gap: 14px;
  }
  .catalog_banner_max {
    height: 345px;
    width: 100%;
  }
  .catalog_banner_max__background {
    padding: 8px;
  }
  .catalog_banner_max_button {
    display: none;
  }
  .catalog_banner_max__wrapper {
    width: 315px;
    height: 315px;
  }
  .catalog_banner_max__background {
    padding: 7px 8px 4px 7px;
  }
  .catalog_banner_max__img {
    max-width: 125px;
    max-height: 157px;
  }
  .catalog_banner_min {
    width: 100%;
  }
  .catalog_page__item_order_down {
    order: 1;
  }
  .catalog_banner_min {
    height: 206px;
  }
  .catalog_banner_min__wrapper {
    padding: 45px 10px;
    gap: 27px;
  }

  .banner_telephone__title {
    margin: 0 0 10px 0;
  }
  .banner_telephone__background {
    height: 500px;
  }
  .banner_telephone__block {
    padding: 100px 0 16px;
    gap: 45px;
  }
  .banner_telephone__img {
    max-width: 165px;
    max-height: 297px;
  }
  .banner_telephone__block .btn__text,
  .banner_telephone__block .footer__button_appstore {
    width: fit-content;
  }
  .banner_telephone__block .btn {
    margin: 0 0 0 auto;
  }
}
/* end 767px */

/* start 390px */
@media (max-width: 390px) {
}
/* end 390px */